.aboutPage {
    background-color: #222222;
    /* background-color: #4158D0; */
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
}

.glass2{
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 0px solid rgba(255, 0, 0, 0);
  }

.strokeAboutText{
    color: rgb(255, 255, 255);
    -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.red {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    margin: 0;
  }

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 50px 75px 100px;
  }

  .custom-shape-divider-bottom-1665272885 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1665272885 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1665272885 .shape-fill {
    fill: #000000;
}

.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('../../assets/layeredWave1.svg');
    text-align: center;
    color: white;
    font-size: 6vw;
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    margin: auto;
    text-shadow: 6px 6px 6px #00000076;
}