* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    text-align: center;
    background: #ffffff;
    padding-top: 50px;
}

.header {
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin: auto;
    text-transform: uppercase;
    font-weight: bold;
}

.sub-container {
    max-width: 1250px;
    margin: auto;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.statement {
    font-weight: lighter;
    color: #000000;
}

.teams {
    margin: 10px;
    padding: 25px;
    max-width: 23%;
    cursor: pointer;
    transition: 0.25s;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px; 
}

.teams:hover {
    transform: scale(1.05);
    box-shadow: 0em 0em 1em #acacac;
    border-radius: 1em;
}

.image {
    background-image: url(../../assets/Circle-Icon-Profile.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    
}

.name {
    padding-top: 24px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.desig {
    font-style: italic;
    font-size: 85%;
    color: #888;
}

.about {
    margin: 15px 0;
    font-weight: lighter;
    font-size: 75%;
    color: #4e4e4e;
}

.social-links {
    margin: 0px;
}

.social-links a {
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .25s;
}

.social-links a:hover {
    color: #48dc34;
    transform: scale(1.5);
}