.aboutCard:hover {
    transform: scale(1.05);
}

.cardImg {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    border-radius: 0.75rem;
}

.profileImg {
    width: 8rem;
    height: 8remx;

    object-fit: cover;
    border-radius: 100%;
    margin: -4rem auto;
    z-index: 3;
    position: relative;
    border: 0.75rem solid #ffffff;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0 0 0;
    border-top: 1px solid #2d2d2d;
}

.socials i {
    font-size: 1.5rem;
}

.socials .fa-facebook-square:hover,
.socials .fa-twitter-square:hover,
.socials .fa-instagram:hover,
.socials .fa-github-square:hover,
.socials .fa-linkedin-square:hover {
    transition: 0.35s;
    transform: scale(1.5);
}


/* Alter based on screen-size */

@media screen and (min-width: 1201px) {
    .aboutSec1 {
        grid-template-columns:
            repeat(2, 1fr);
    }
    .aboutCardSec {
        grid-template-columns:
            repeat(4, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .aboutSec1 {
        grid-template-columns:
            repeat(2, 1fr);
    }
    .aboutCardSec {
        grid-template-columns:
            repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 1000px) {
    .blockGridSystem {
        grid-template-columns:
            repeat(1, 1fr);
    }
    .aboutCardSec {
        grid-template-columns:
            repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 750px) {
    .blockGridSystem {
        grid-template-columns:
            repeat(1, 1fr);
    }
    .aboutCardSec {
        grid-template-columns:
            repeat(1, 1fr);
    }
  }