.galleryPage{
    position: absolute;
  }

.strokeGalleryText{
  color: white;
  -webkit-text-fill-color: rgba(255, 255, 255, 1); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

.glass{
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0.5vmax 1vmax rgba(0, 0, 0, 0.1);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 0.75vmax;
}

.subHeadingGallery {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: bold;
  font-size: 3rem;
  /* line-height: 90%; */
  user-select: none;
  /* letter-spacing: -3px; */

  background: linear-gradient(-45deg, #ff8132, #ff51c2);
  background-size: 200% 200%;
  animation: gradient 4s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
