/* .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 10rem;
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid black;
    background-color: white;
    z-index: 0;
    font-family: "Poppins", sans-serif;
  } */
.navbar {
  font-weight: 600;
  font-style: bold;
  font-size: 1rem;
  color: black;
  text-align: center;
  border-bottom: 3px solid black;
  /* background-color: #ffffff; */
}

.navbar * {
  list-style: none;
  text-decoration: none;
  align-items: center;
}
  
.navbarLeft {
  display: flex;
  flex-direction: row;
}
  
.navbarLeft * {
  margin-left: 10%;
}

.websiteName {
    font-weight: 800;
    font-style: bold;
    font-size: 2rem;
    text-align: center;
}
