
.navBar {
  position: sticky;
  width: 100%;
  height: 4vmax;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  top: 0;
  z-index: 100;
  box-shadow: 0 0.5vmax 1vmax rgba(0, 0, 0, 0.1);
  padding-left: 6.5vmax;
  padding-right: 6.5vmax;

}

.navBar * {
  /* background-color: #FFFFFF; */
  z-index: 100;
}

.navBarLeft {
  height: 100%;
  /* background-color: #d12a2a; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25vmax 1vmax;
}

.navBarRight {
  height: 100%;
  /* background-color: #a49d9d; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.websiteName {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% auto;
  animation: gradient 7s ease infinite;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 800;
  font-style: bold;
  font-size: 2.5vmax;
  text-align: center;
  padding: 0 2vmax 0 1vmax;
}

.navBarLeft li {
  list-style: none;
  text-decoration: none;
  padding: 0.5vmax;
  margin: 0.75vmax;
  text-align: center;

  color: #2d2d2d;
  font-weight: 600;
  font-style: bold;
  font-size: 1.25vmax;

  transition: 0.35s;
  transform: scale(1);

  /* background-color: #9d7f7f;
  border-color: #000000;
  border-width: 1px; */
}

.navBarLeft li:hover {
  font-weight: 700;

  transition: 0.35s;
  transform: scale(1.25);
}

.loginButton {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  background-color: #2d2d2d;
  border-radius: 1vmax;
  margin-right: 2vmax;
  text-decoration: none;
  user-select: none;
  z-index: 102;

  color: white;
  font-weight: 500;
  font-style: bold;
  font-size: 1.15vmax;
}

.loginButton:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
}

.loginButton:active {
  background-color: rgba(0, 0, 0, 0.15);
  color: black;
  outline: 0;
}

.loginButton:hover {
  outline: 0;
}

.loginButton:hover .HoverArrow__linePath {
  opacity: 1;
  transition: opacity var(--hoverTransition,var(--arrowHoverTransition));
}

.loginButton:hover .HoverArrow__tipPath {
  transform: var(--arrowHoverOffset);
  transition: opacity var(--hoverTransition,var(--arrowHoverTransition));
}


@media (min-width: 768px) {
  .loginButton {
    padding: 3px 15px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 16px;
  font-weight: 500;
  padding: 0.5rem;
}

/* Links inside the dropdown */
.dropdown-content li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.dropdown-content i {
  color: black;
  margin-right: 1rem;
}

.dropdown-content *:hover {
  background-color: aliceblue;
  border-radius: 8px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}