
.navBar {
  position: sticky;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  top: 0;
  z-index: 100;
  box-shadow: 0 0.5vmax 1vmax rgba(0, 0, 0, 0.1);
  padding-left: 2rem;
  padding-right: 2rem;
}

.navBar * {
  /* background-color: #FFFFFF; */
  z-index: 100;
}

.navBarMiddle {
  height: 100%;
  /* background-color: #d12a2a; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navBarRight{
  height: 100%;
  /* background-color: #d12a2a; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.websiteName {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% auto;
  animation: gradient 7s ease infinite;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 800;
  font-style: bold;
  font-size: 2rem;
  text-align: center;
}

.navBarMiddle li {
  list-style: none;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;

  color: #2d2d2d;
  font-weight: 600;
  font-style: bold;
  font-size: 1.15rem;

  /* background-color: #9d7f7f;
  border-color: #000000;
  border-width: 1px; */
}

.loginButton {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  background-color: #2d2d2d;
  border-radius: 1rem;
  text-decoration: none;
  user-select: none;
  z-index: 102;

  color: white;
  font-weight: 500;
  font-style: bold;
  font-size: 1rem;

  padding: 3px 15px;
}

.loginButton:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
}

.loginButton:active {
  background-color: rgba(0, 0, 0, 0.15);
  color: black;
  outline: 0;
}

.loginButton:hover {
  outline: 0;
}

.loginButton:hover .HoverArrow__linePath {
  opacity: 1;
  transition: opacity var(--hoverTransition,var(--arrowHoverTransition));
}

.loginButton:hover .HoverArrow__tipPath {
  transform: var(--arrowHoverOffset);
  transition: opacity var(--hoverTransition,var(--arrowHoverTransition));
}

.navBarMenu{
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 16px;
  font-weight: 500;
  padding: 0.5rem;
}

/* Links inside the dropdown */
.dropdown-content li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.dropdown-content i {
  color: black;
  margin-right: 1rem;
}

.dropdown-content *:hover {
  background-color: aliceblue;
  border-radius: 8px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* 1001
1000
550 */

@media screen and (min-width: 1001px) {

}

@media screen and (max-width: 1000px) {
  .navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 8vh;  
    padding-left: 2rem;
    padding-right: 2rem;
    transition: 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
  }

  .mobileNavBar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobileNavBar * {
    font-size: 1.75rem;
  }

  .navBarMenu{
    display: block;
  }

  .loginButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font-size: 2rem;
  }
  
  .loginButton:hover {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
  }

  .navBarMiddle{
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background-color: #23d5ab; */
  }

  .navBarMiddle *{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    font-style: bold;
  }

  .navBarRight{
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background-color: #23d5ab; */
  }

  .navBarRight *{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 100%;
    font-weight: 600;
    font-style: bold;
  }

  .websiteName{
    display: flex;
    font-size: 2rem;
  }

  .dropdown * {
    position: relative;
    font-size: 2rem;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 100%;
    box-shadow: none;
    z-index: 1;
    font-weight: 500;
    padding: 0.5rem;
  }

  /* Links inside the dropdown */
  .dropdown-content li {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .dropdown-content *{
    font-size: 1rem;
  }
  .dropdown-content i {
    font-size: 1.5rem;
    color: black;
  }

  .dropdown-content *:hover {
    background-color: white;
    border-radius: none;
  }

}


